:root {
  --accent-color: #033a36;
  --background-color: #e2e2e2;
  --dark-color: #191d18;
  --light-color: #859185;
}
body {
  background-color: var(--light-color);
}
.header {
  background-color: var(--background-color);
  color: var(--dark-color);
  display: inline-block;
  font-family: "Georama", sans-serif;
  font-size: large;
  padding: 25px;
  margin: 0;
}
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6)),
    url(/media/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
h1,
h2 {
  color: var(--dark-color);
  font-family: "Noto Serif Display", serif;
  font-size: 96px;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: center;
}
.hero h1,
.hero h2 {
  color: var(--background-color);
}
h2 {
  font-size: 48px;
  margin-top: 0px;
  margin-bottom: 20px;
}
h3 {
  color: var(--dark-color);
  font-family: "Noto Serif Display", serif;
  margin-bottom: 0px;
  padding: 3px;
  text-align: center;
  font-size: 14px;
}
p {
  color: var(--dark-color);
  display: block;
  font-family: "Georama", sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 85%;
  text-align: center;
}
hr {
  color: var(--background-color);
}
img {
  border: 1.8px solid var(--accent-color);
  border-radius: 7px;
  box-shadow: 10px 10px 20px rgba(193, 199, 215, 0.2);
  margin: 20px 20px;
  max-width: 300px;
}
img:hover {
  transform: scale(1.12, 1.12);
}
a {
  color: var(--accent-color);
  font-weight: 500;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

footer {
  color: var(--dark-color);
  font-family: "Georama", sans-serif;
  padding: 20px;
  text-align: center;
}
.hero a,
.lessons-button {
  border-radius: 3px;
  box-shadow: 1px 1px 1px var(--dark-color);
  color: var(--accent-color);
  padding: 15px 10px;
  width: 125px;
  text-decoration: none;
  transition: 150ms ease-in-out;
}
.hero a {
  background-color: var(--background-color);
  border: 1px solid var(--accent-color);
  display: block;
  margin: auto;
}
.lessons-button {
  background-color: var(--accent-color);
  color: var(--background-color);
  display: block;
  text-align: center;
}
.lessons-button:hover,
.hero a:hover {
  cursor: pointer;
  text-decoration: none;
  transform: scale(1.12, 1.12);
}

.wrapper {
  background-color: var(--background-color);
}
.main-image {
  max-width: 525px;
  margin-bottom: 0px;
  padding: none;
}
.main-image:hover,
.logos:hover {
  transform: none;
}
.about-paragraph {
  text-align: left;

  padding: 125px 0;
}
.logos {
  max-width: 225px;
  border: none;
  box-shadow: none;
  margin-bottom: 50px;
}

.concerts p {
  font-size: small;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 32px;
  }
  .about-paragraph {
    text-align: center;
    padding: 25px 5px;
  }
  .main-image {
    max-width: 80%;
  }
  img:hover {
    transform: none;
  }
  .lessons-button {
    margin: 0 auto;
  }
}
